<article *ngIf="team">
  <header>
    <h2>Create Team</h2>
  </header>

  <form class="form" #form='ngForm' (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="id">ID:</label>
          <input id="id" name="id" [(ngModel)]="team.id"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="name">Name:</label>
          <input id="name" name="name" [(ngModel)]="team.name"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="city">City:</label>
          <input id="city" name="city" [(ngModel)]="team.city"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="coach">Coach:</label>
          <input id="coach" name="coach" [(ngModel)]="team.coach"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="noOfChampionships">Number of Championships:</label>
          <input id="noOfChampionships" name="noOfChampionships" [(ngModel)]="team.noOfChampionships"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2 p-2">
          <button type="submit">Create</button>
      </div>
    </div>
  </form>
</article>
